.spinner__styles{
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin: 30px;
}

.spinner__move{
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}