.form__container {
  display: flex;
  justify-content: center;
}

.input__container {
  position: relative;
}

.button__style {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;

  height: 100%;
  border: none;
  background: none;
}

.input__style {
  height: 35px;
  border-radius: 10px;
  padding: 5px 50px 5px 10px;
  border: 1px solid white;
}

.input__style:focus{
  outline: none;
  border: 1px solid #f88ec2;
  box-shadow: 0 0 5px #ebbed4;
}

.button__style:focus{
  outline: none;
  border: 1px solid #f88ec2;
  box-shadow: 0 0 5px #ebbed4;
}
